{% extends "work_space.html" %}

{% block left_bar %}
	<div class="bar__item">
		<a href="">
			<span>Налаштування 1</span>
		</a>
	</div>
	<div class="bar__item">
		<a href="">
			<span>Налаштування 2</span>
		</a>
	</div>
{% endblock %}

{% block work_area %}

	<div class="form-settings">
		Створити нову команду:
		{{ form.hidden_tag() }}

		{% for field in form if field.name not in ['csrf_token', 'submit'] %}
			{{ field.label() }} {{ field() }}

			{% if field.errors %}
				<span class="error">
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				</span>
			{% endif %}
		{% endfor %}

		{% for message in get_flashed_messages() %}
			<span class="error">{{ message }}</span>
		{% endfor %}

		{{ form.submit(class="button") }}
	</div>

{% endblock %}
