{% extends "settings.html" %}

{% block work_area %}

	<div class="form-settings">
		{{ form.hidden_tag() }}

		{% for field in form if field.name not in ['csrf_token', 'submit'] %}
			{{ field.label() }} {{ field() }}

			{% if field.errors %}
				<span class="error">
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				</span>
			{% endif %}
		{% endfor %}

		{% for message in get_flashed_messages() %}
			<span class="error">{{ message }}</span>
		{% endfor %}

		{{ form.submit(class="button") }}
	</div>

{% endblock %}
