{% extends "command_group_event.html" %}

{% block top_bar %}
	{{ super() }}
	<a class="bar__item" href="">
		<span>{{ command.name }}</span>
	</a>
{% endblock %}

{% block bar %}
	{% if is_owner %}
		<a href="" class="add-button">
			<span>Нова подія</span>
			<span></span>
		</a>
	{% endif %}

	{% if is_owner %}
		{% if all_event %}
			<a href=" {{ url_for('command_event', command_id=command.command_id) }} " class="bar__item bar__item_small">
				Призначенні мені
			</a>
		{% else %}
			<a href=" {{ url_for('command_event', command_id=command.command_id, all=True) }} " class="bar__item bar__item_small">
				Всі події
			</a>
		{% endif %}
	{% endif %}

	<a href=" {{ url_for('command_task', command_id=command.command_id) }} " class="bar__item bar__item_small">
		Завдання
	</a>
{% endblock %}
