{% extends "command_group_event.html" %}

{% block top_bar %}
	{{ super() }}
	<a class="bar__item" href="">
		<span>{{ command.name }}</span>
	</a>
{% endblock %}

{% block bar %}
	{% if is_owner %}
		<a href="" class="add-button">
			<span>Нова подія</span>
			<span></span>
		</a>
	{% endif %}
	<a href=" {{ url_for('command_task', command_id=command.command_id) }} " class="bar__item bar__item_small">
		Завдання
	</a>
{% endblock %}

{% block tab %}
	<a href="">
		<span class="event__doc"></span>
		<p>
			{{ event.description }}
		</p>
		<span class="event__submit-clone"></span>
		<p>
			{% if event.date %}
				{{ event.date }}
			{% endif %}
		</p>
	</a>

	{% if event.done and is_owner %}
		<a class="event__submit event__submit_done"></a>
	{% elif event.done %}
		<a class="event__submit event__submit_done"></a>
	{% elif not is_owner %}
		<a class="event__submit"></a>
	{% endif %}

{% endblock %}
