{% extends "work_space.html" %}

{% block top_bar %}
<a class="bar__item top-bar__home" href="/home/task"></a>
<a class="bar__item" href="">{{ command.name }}</a>
{% endblock %}

{% block left_bar %}
	{% if groups %}
		{% for item in groups %}
			<div class="bar__item">
				<a href="/group/{{ item.group_id }}/task">
					<span>{{ item.name }}</span>
				</a>
				{% if item.ownership %}
					<a href=""></a>
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
		Груп немає...
	{% endif %}
	<a href="{{ url_for('add_group', command_id=command.command_id) }}" class="add-button add-button_minimize left-bar__add-button">
		<span>Додати групу</span>
		<span></span>
	</a>
{% endblock %}

{% block work_area %}
	<div class="work-area__bar">
		<a href="" class="add-button">
			<span>Нове завдання</span>
			<span></span>
		</a>
		<a href="" class="bar__item bar__item_small">
			Події
		</a>
	</div>
	<div class="work-area__board">
		{% if cols %}
			{% for col in cols %}
				<div class="coll">
					<span>{{ col.name }}</span>
					<div class="drop-zone" data-coll="{{ col.col_id }}">
						{% for task in col.tasks %}
							<div class="task drag-item" draggable="true" data-task="{{ task.task_id }}">
								<a href="" draggable="false">
									<span class="task__doc"></span>
									<p>
										{{ task.description }}
									</p>
									<span class="task__submit-clone"></span>
									<p>
										{{ task.name }}
									</p>
									<p>
										{% if task.start_date %}
											{% if task.end_date %}
												{{ task.start_date }} - {{ task.end_date }}
											{% else %}
												Почати з {{ task.start_date }}
											{% endif %}
										{% elif task.end_date %}
											Закінчити до {{ task.end_date }}
										{% endif %}
									</p>
								</a>
								<a class="task__submit {% if task.done %} task__submit_done {% endif %}" href=""></a>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		{% else %}
			Колонок немає...
		{% endif %}
	</div>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='script/dnd.js') }}"></script>
{% endblock %}
