{% extends "command_task.html" %}

{% block bar %}
	Призначені мені
	
	<input type="checkbox" id="d-d1">
	<div>
		<a href="{{ url_for('command_task', command_id=command.command_id) }}">
			Усі завдання
		</a>
		<a href="{{ url_for('command_task_group', command_id=command.command_id) }}">
			За групами
		</a>
	</div>
{% endblock %}

{% block board %}
	<span>{{ col.name }}</span>
	<div class="drop-zone" data-coll="{{ col.col_id }}">
		{% for task in col.tasks %}
			<div class="task task_group drag-item" style="border-color: {{ task.color }};" draggable="true" data-task="{{ task.task_id }}">

				<a href="" draggable="false">
					<span class="task__doc"></span>
					<p>
						{{ task.description }}
					</p>
					<span class="task__submit-clone"></span>
					<p>
						{{ task.group_name }}
					</p>
					<p>
						{% if task.start_date %}
							{% if task.end_date %}
								{{ task.start_date }} - {{ task.end_date }}
							{% else %}
								Почати з {{ task.start_date }}
							{% endif %}
						{% elif task.end_date %}
							Закінчити до {{ task.end_date }}
						{% endif %}
					</p>
				</a>

				{% if task.done %}
					<a class="task__submit task__js-submit task__submit_done" data-status="true"></a>
				{% else %}
					<a class="task__submit task__js-submit" data-status="false"></a>
				{% endif %}

			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='script/dnd.js') }}"></script>
	<script src="{{ url_for('static', filename='script/task_status.js') }}"></script>
{% endblock %}
