{% extends "setting.html" %}

{% block top_bar %}
	<a class="bar__item top-bar__home" href="{{ url_for('home') }}"></a>
    <a class="bar__item" href="{{ url_for('command_task', command_id=command.command_id) }}">
		<span>{{ command.name }}</span>
	</a>
{% endblock %}

{% block work_area %}
	<form action="", method="POST" class="form-settings">
		{{ form.hidden_tag() }}
		{% for field in form if field.name not in ['csrf_token', 'submit'] %}
			{{ field.label() }} {{ field() }}

			{% if field.errors %}
				<span>
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				</span>
			{% endif %}
		{% endfor %}

		<div class="form-settings__button-box">
            <div class="form-settings__delete-button">Видалити</div>
            {{ form.submit(class="button") }}
        </div>
	</form>

	<dialog class="dialog-box">
        <form  action="{{ url_for('del_command_event', command_id=command.command_id, event_id=event_id) }}" method="POST">
            {{ form_dialog.hidden_tag() }}
            <div>Ви справді хочете видалити подію? Ця дія є незворотньою.</div>
            <div class="form-settings__button-box">
                <button class="dialog-box__button dialog-box__green-button">Ні</button>
                {{ form_dialog.submit(class="dialog-box__button dialog-box__red-button") }}
            </div>
        </form>
    </dialog>

	<script type="text/javascript" src="{{url_for('static', filename='script/dialog_window.js')}}"
	charset="utf-8"></script>
{% endblock %}