{% extends "setting.html" %}

{% block work_area %}
	<form action="", method="POST" class="form-settings">
		{{ form.hidden_tag() }}
		{% for field in form if field.name not in ['csrf_token', 'submit'] %}
			{{ field.label() }} {{ field() }}

			{% if field.errors %}
				<span>
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				</span>
			{% endif %}
		{% endfor %}

		{% for message in get_flashed_messages() %}
			<span>{{ message }}</span>
		{% endfor %}

		<div class="form-settings__button-box">
			<div class="form-settings__delete-button">Видалити</div>
			{{ form.submit(class="button") }}
		</div>
	</form>

	<dialog class="dialog-box">
		<form method="dialog">
			<div>Ви справді хочете видалити команду? Ця дія є незворотньою.</div>
			<div class="form-settings__button-box">
				<button class="dialog-box__button dialog-box__green-button">Ні</button>
				<button type="submit" class="dialog-box__button dialog-box__red-button">Так</button>
			</div>
		</form>
	</dialog>

	<script type="text/javascript" src="{{url_for('static', filename='js/dialog_window.js')}}"
	charset="utf-8"></script>
{% endblock %}
