{% extends "setting_expand.html" %}

{% block top_bar %}
    <a class="bar__item top-bar__home" href="{{ url_for('home') }}"></a>
    <a class="bar__item" href="{{ url_for('group_task', group_id=group.group_id) }}">
        <span>{{ group.name }}</span>
    </a>
    <a class="bar__item" href="{{ url_for('command_task', command_id=command.command_id) }}">
        <span>{{ command.name }}</span>
    </a>
{% endblock %}

{% block left_bar %}
    <div class="bar__item">
        <a class="bar__item-name" href="{{ url_for('settings_group', group_id=group.group_id) }}">
            Загальні налаштування
        </a>
    </div>
    <div class="bar__item">
        <a class="bar__item-name" href="{{ url_for('group_members', group_id=group.group_id) }}">
			Керування учасниками
        </a>
    </div>
    <div class="bar__item" style="background-color: var(--settings-example-color);">
        <a class="bar__item-name" href="">
            Керування колонками
        </a>
    </div>
{% endblock %}

{% block work_area %}
    <form action="", method="POST" class="form-members">
        {{ form.hidden_tag() }}
        {{ form.name.label() }}
        <div class="form-members__row">
            {{ form.name() }}
            {{ form.submit(class="button") }}
        </div>
        {% for message in get_flashed_messages() %}
            <span style="color: var(--success);">{{ message }}</span>
        {% endfor %}
    </form>

    {% if cols %}
        <div class="list-cols">
            {% for item in cols %}
                <div class="cols-item">
                    <div class="cols-item__buttn-box"
                    data-col={{item.col_id}} data-group_id={{group.group_id}}>
                        <a class="cols-item__buttn cols-item__js-up" href=""></a>
                        <a class="cols-item__buttn cols-item__js-down" href=""></a>
                    </div>
                    <div class="cols-item__name">
                        <span>{{ item.name }}</span>
                        <a class="cols-item__del-buttn cols-item__js-delete"
                        data-col={{item.col_id}} data-group_id={{group.group_id}}
                        href=""></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='script/col_del_group.js') }}"></script>
    <script src="{{ url_for('static', filename='script/col_up_down_group.js') }}"></script>
{% endblock %}