{% extends "work_space.html" %}

{% set tab_name = ['Без дати', 'Термін пройшов', 'Сьогодні', 'Цей тиждень', 'Пізніше'] %}

{% block work_area %}
	<div class="work-area__bar">
		{% block bar %}
		{% endblock %}
	</div>
	<div class="work-area__board work-area__board_event">

		{% for i in range(5) %}
			<div class="event-tab">
				
				{% if events[i][0] %}
					<label for="tab{{ i }}" class="event-tab__drop-down">
				{% else %}
					<label>
				{% endif %}

					<span>{{ tab_name[i] }}</span>
					<div></div>
				</label>
				<input type="checkbox" id="tab{{ i }}">

				<div>
					{% for event in events[i] %}
						<div class="event">
							{% block tab scoped %}
							{% endblock %}
						</div>
					{% endfor %}
				</div>

			</div>
		{% endfor %}

	</div>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='script/event_status.js') }}"></script>
{% endblock %}
