<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Planer</title>
</head>
<body>
	<div class="main-wrap">
		<div class="top-bar">
			<div class="logo"></div>
			<a href="" class="bar__item user">
				<span>Возний Олександр</span>
			</a>
		</div>
		<div class="left-bar">
			<input type="checkbox" id="left-bar__minimize">
			<div>
				<div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sunt asperiores</span>
					</a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sunt asperiores</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div><div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div><div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div><div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div><div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div><div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div><div class="bar__item">
					<a href="">
						<span>Команда 1</span>
					</a>
					<a href=""></a>
				</div>
				<div class="bar__item">
					<a href="">
						<span>Команда 2</span>
					</a>
				</div>
				<div style="min-height: 80px;"></div>
				<a href="" class="add-button add-button_minimize left-bar__add-button">
					<span>Додати команду</span>
					<span></span>
				</a>
			</div>
			<label for="left-bar__minimize"></label>
		</div>
		<div class="work-area">
			<div class="work-area__bar">
				<a href="" class="add-button">
					<span>Нове завдання</span>
					<span></span>
				</a>
				<a href="" class="bar__item bar__item_small">
					Події
				</a>
			</div>
			<div class="work-area__board">
				<div class="coll" data-coll="1">
					<span>Розподілено</span>
					<div>
						<div class="task" draggable="true" data-task="1">
							<a href="" draggable="false">
								<div>
									<span class="task__doc"></span>
									<p>
										Написати звіт
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div class="task" draggable="true" data-task="2">
							<a href="" draggable="false">
								<div>
									<p>
										Прийти на роботу
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div></div>
					</div>
				</div>
				<div class="coll" data-coll="2">
					<span>Виконується</span>
					<div>
						<div class="task" draggable="true" data-task="3">
							<a href="" draggable="false">
								<div>
									<span class="task__doc"></span>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, 
										suscipit? Corporis, suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, 
										suscipit? Corporis, suscipit?
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div class="task" draggable="true" data-task="4">
							<a href="" draggable="false">
								<div>
									<p>
										Зробити дизайн завдань
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit task__submit_done" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div class="task" draggable="true" data-task="5">
							<a href="" draggable="false">
								<div>
									<p>
										Зробити дизайн завдань
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit task__submit_done" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div class="task" draggable="true" data-task="6">
							<a href="" draggable="false">
								<div>
									<p>
										Зробити дизайн завдань
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit task__submit_done" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div class="task" draggable="true" data-task="7">
							<a href="" draggable="false">
								<div>
									<p>
										Зробити дизайн завдань
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit task__submit_done" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div class="task" draggable="true" data-task="8">
							<a href="" draggable="false">
								<div>
									<p>
										Зробити дизайн завдань
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit task__submit_done" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div class="task" draggable="true" data-task="9">
							<a href="" draggable="false">
								<div>
									<p>
										Зробити дизайн завдань
									</p>
									<p>
										Возний Олександр
									</p>
									<p>
										25.03.21 - 27.03.21
									</p>
								</div>
							</a>
							<a class="task__submit task__submit_done" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
