{% extends "work_space.html" %}

{% block top_bar %}

{% endblock %}

{% block left_bar %}
	{% for item in commands %}
		<div class="bar__item">
			<a href="">
				<span>{{ item.name }}</span>
			</a>
			{% if item.ownership %}	
				<a href=""></a>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}

{% block work_area %}
	<div class="work-area__bar">
		<a href="" class="add-button">
			<span>Нове завдання</span>
			<span></span>
		</a>
		<a href="" class="bar__item bar__item_small">
			Події
		</a>
	</div>
	<div class="work-area__board">
		{% for col in cols %}
			<div class="coll" data-coll="{{ col.col_id }}">
				<span>{{ col.name }}</span>
				<div>
					{% for task in col.tasks %}
						<div class="task" draggable="true" data-task="9">
							<a href="" draggable="false">
								<p>
									{{ task.description }}
								</p>
								<p>
									{{ task.name }}
								</p>
								<p>
									{% if task.start_date %}
										{% if task.end_date %}
											{{ task.start_date }} - {{ task.end_date }}
										{% else %}
											Почати з {{ task.start_date }}
										{% endif %}
									{% elif task.end_date %}
										Закінчити до {{ task.end_date }}
									{% endif %}
								</p>
							</a>
							<a class="task__submit {% if task.done %} task__submit_done {% endif %}" href="http://shpargalkablog.ru/2016/05/flex.html"></a>
						</div>
					{% endfor %}
					<div></div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}