{% extends "work_space.html" %}

{% block top_bar %}

{% endblock %}

{% block left_bar %}
	{% for item in commands %}
		<div class="bar__item">
			<a href="">
				<span>{{ item.name }}</span>
			</a>
			{% if item.ownership %}	
				<a href=""></a>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}

{% block work_area %}
	<div class="work-area__bar">
		<a href="" class="add-button">
			<span>Нове завдання</span>
			<span></span>
		</a>
		<a href="" class="bar__item bar__item_small">
			Події
		</a>
	</div>
	<div class="work-area__board">
		{% for col in cols %}
			<div class="coll" data-coll="{{ col.col_id }}">
				<span>{{ col.name }}</span>
				<div>
					<div></div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}