{% extends "setting.html" %}

{% block top_bar %}
<a class="bar__item top-bar__home" href="{{ url_for('home') }}"></a>
<a class="bar__item" href="{{ url_for('command_task', command_id=command.command_id) }}">
	<span>{{ command.name }}</span>
</a>
{% endblock %}

{% block work_area %}
    <div class="members">

        {% for item in members %}
        <div class="member-item">
            <div class="member-item__top-row">
                {{ item.0.name }} | {{ item.0.login }}
                <a class="member-item__delete" href="">Вилучити</a>
            </div>
            {% if item.1.0 %} <!-- протестити і відредагувати умову на нормальну -->
                <div class="member-item__groups">
                    <span>Керує:</span>
                    {% for group in item.1 %}
                        <div style="border-color:{{ group.color }};">{{ group.name }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endblock %}