{% extends "event.html" %}

{% block left_bar %}
	{% if commands %}
		{% for item in commands %}
			<div class="bar__item">
				<a class="bar__item-name" href="{{ url_for('command_task', command_id=item.command_id) }}">
					<span>{{ item.name }}</span>
				</a>
				{% if item.ownership %}
					<a class="bar__item-setting" href="{{ url_for('settings_command', command_id=item.command_id) }}"></a>
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
		Команд немає...
	{% endif %}
	<a href="{{ url_for('add_command') }}" class="add-button add-button_minimize left-bar__add-button">
		<span>Додати команду</span>
		<span></span>
	</a>
{% endblock %}

{% block event_url %}
	{{ url_for('home') }}
{% endblock %}

{% block tab %}
	{% set tab_name = ['Без дати', 'Термін пройшов', 'Сьогодні', 'Цей тиждень', 'Пізніше'] %}

	{% for i in range(5) %}
		<div class="event-tab">
			
			{% if events[i][0] %}
				<label for="tab{{ i }}" class="event-tab__drop-down">
			{% else %}
				<label for="tab{{ i }}">
			{% endif %}

				<span>{{ tab_name[i] }}</span>
				<div></div>
			</label>
			<input type="checkbox" id="tab{{ i }}">

			<div>
				{% for event in events[i] %}
					<div class="event">
						<a href="">
							<span class="event__doc"></span>
							<p>
								{{ event.description }}
							</p>
							<span class="event__submit-clone"></span>
							<p>
								{% if event.date %}
									{{ event.date }}
								{% endif %}
							</p>
						</a>
						{% if event.done %}
							<a class="event__submit event__submit_done"></a>
						{% else %}
							<a class="event__submit"></a>
						{% endif %}
					</div>
				{% endfor %}
			</div>

		</div>

		

	{% endfor %}

{% endblock %}

