{% extends "base.html" %}
{% block content %}
	<div class="main-wrap">
		<div class="top-bar">
			<div class="logo"></div>
			{% block top_bar %}
			{% endblock %}
			<a href="" class="bar__item user">
				<span>{{ user.name }}</span>
			</a>
		</div>
		<div class="left-bar {{ setting }}">
			<button onclick="hide_left_bar(this)" class="left-bar__minimize" data-status="true">
				<div></div>
			</button>
			<div>
				{% block left_bar %}
				{% endblock %}
				<div style="min-height: 1px;"></div>
			</div>
		</div>
		<div class="work-area" style="background-color: var(--light-color); overflow: scroll;">
			{% block work_area %}
			{% endblock %}
		</div>
	</div>
	<script src="{{ url_for('static', filename='script/hide_left_bar.js') }}"></script>
{% endblock %}