{% extends "base.html" %}
{% block content %}
	<div class="main-wrap">
		<div class="top-bar">
			<div class="logo"></div>
			{% block top_bar %}
			{% endblock %}
			<a href="" class="bar__item user">
				<span>{{ user.name }}</span>
			</a>
		</div>
        <div class="left-bar {{ setting }}" style="background-color: var(--light);">
			<input type="checkbox" id="left-bar__minimize">
			<div>
				{% block left_bar %}
				{% endblock %}
			</div>
			<label for="left-bar__minimize"></label>
		</div>
		<div class="work-area" style="background-color: var(--light-color);">
            <div class="form-settings">
                {% block work_area %}
                {% endblock %}
            </div>
		</div>
	</div>
{% endblock %}